In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
df_train=pd.read_csv(r"Sample_for_BI (1) (1).csv")

In [50]:
df_train

,ID,Country,Specialization,How did you hear about Us,Current_Occupation,What matters most to you in choosing a course,Origin,Source,Do Not Email,Do Not Call,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,Purchased
0,1,Russia,Business Administration,Word Of Mouth,Unemployed,Better Career Prospects,API,Olark Chat,No,No,0.0,0,0.00,Page Visited on Website,No
1,2,India,NaN,NaN,Unemployed,Better Career Prospects,API,Organic Search,No,No,5.0,674,2.50,Email Opened,No
2,3,India,Business Administration,NaN,Student,Better Career Prospects,Landing Page Submission,Direct Traffic,No,No,2.0,1532,2.00,Email Opened,Yes
3,4,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,Landing Page Submission,Direct Traffic,No,No,1.0,305,1.00,Unreachable,No
4,5,India,NaN,Other,Unemployed,Better Career Prospects,Landing Page Submission,Google,No,No,2.0,1428,1.00,Converted to Lead,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9235,9236,Saudi Arabia,IT Projects Management,NaN,Unemployed,Better Career Prospects,Landing Page Submission,Direct Traffic,Yes,No,8.0,1845,2.67,Email Marked Spam,Yes
9236,9237,India,Media and Advertising,NaN,Unemployed,Better Career Prospects,Landing Page Submission,Direct Traffic,No,No,2.0,238,2.00,SMS Sent,No
9237,9238,India,Business Administration,NaN,Unemployed,Better Career Prospects,Landing Page Submission,Direct Traffic,Yes,No,2.0,199,2.00,SMS Sent,No
9238,9239,India,Human Resource Management,Online Search,NaN,NaN,Landing Page Submission,Google,No,No,3.0,499,3.00,SMS Sent,Yes
9239,9240,Bangladesh,Supply Chain Management,NaN,Unemployed,Better Career Prospects,Landing Page Submission,Direct Traffic,No,No,6.0,1279,3.00,SMS Sent,Yes

In [51]:
df_test=pd.read_csv(r"Sample_for_AI (1) (1).csv")

In [52]:
df_test

,ID,Purchased,Do Not Email,Do Not Call,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Specialization,Origin
0,1,No,No,No,0.0,0,0.00,NaN,API
1,2,No,No,No,5.0,674,2.50,NaN,API
2,3,Yes,No,No,2.0,1532,2.00,Business Administration,Landing Page Submission
3,4,No,No,No,1.0,305,1.00,Media and Advertising,Landing Page Submission
4,5,Yes,No,No,2.0,1428,1.00,NaN,Landing Page Submission
...,...,...,...,...,...,...,...,...,...
9235,9236,Yes,Yes,No,8.0,1845,2.67,IT Projects Management,Landing Page Submission
9236,9237,No,No,No,2.0,238,2.00,Media and Advertising,Landing Page Submission
9237,9238,No,Yes,No,2.0,199,2.00,Business Administration,Landing Page Submission
9238,9239,Yes,No,No,3.0,499,3.00,Human Resource Management,Landing Page Submission
9239,9240,Yes,No,No,6.0,1279,3.00,Supply Chain Management,Landing Page Submission

In [53]:
df_train.isnull().sum()

ID                                                  0
Country                                          2465
Specialization                                   3379
How did you hear about Us                        7249
Current_Occupation                               2690
What matters most to you in choosing a course    2709
Origin                                              0
Source                                             36
Do Not Email                                        0
Do Not Call                                         0
TotalVisits                                       137
Total Time Spent on Website                         0
Page Views Per Visit                              137
Last Activity                                     103
Purchased                                           0
dtype: int64

In [54]:
df_train.dtypes

ID                                                 int64
Country                                           object
Specialization                                    object
How did you hear about Us                         object
Current_Occupation                                object
What matters most to you in choosing a course     object
Origin                                            object
Source                                            object
Do Not Email                                      object
Do Not Call                                       object
TotalVisits                                      float64
Total Time Spent on Website                        int64
Page Views Per Visit                             float64
Last Activity                                     object
Purchased                                         object
dtype: object

In [55]:
unwanted_columns=[]
for i in df_train.columns:
    if i not in df_test.columns:
        unwanted_columns.append(i)

In [56]:
unwanted_columns

['Country',
 'How did you hear about Us',
 'Current_Occupation',
 'What matters most to you in choosing a course',
 'Source',
 'Last Activity']

In [57]:
df_train.Country.fillna('others',inplace=True)

In [58]:
values={}
for i in df_train.Country.unique():
    values[i]=df_train[df_train.Country==i]['Specialization'].mode()

In [59]:
pd.DataFrame(values)[:1:].T

                                                      0
Russia                          Business Administration
India                                Finance Management
others                             Marketing Management
Kuwait                        Human Resource Management
Oman                  Banking, Investment And Insurance
United Arab Emirates                 Finance Management
United States                 Human Resource Management
Australia                       Supply Chain Management
United Kingdom                       Finance Management
Bahrain                          International Business
Ghana                         Human Resource Management
Singapore                         Operations Management
Qatar                             Operations Management
Saudi Arabia                    Supply Chain Management
Belgium                         Supply Chain Management
France                          Business Administration
Sri Lanka                                           NaN
China                              Marketing Management
Canada                          Business Administration
Netherlands                   Human Resource Management
Sweden                             Marketing Management
Nigeria                                      E-COMMERCE
Hong Kong                          Marketing Management
Germany                              Finance Management
Asia/Pacific Region                                 NaN
Uganda                             Marketing Management
Kenya                         Human Resource Management
Italy                             Operations Management
South Africa          Banking, Investment And Insurance
Tanzania                          Operations Management
Malaysia                      Human Resource Management
Liberia                          IT Projects Management
Switzerland                     Supply Chain Management
Denmark                         Business Administration
Philippines                        Marketing Management
Bangladesh                      Business Administration
Vietnam                           Media and Advertising
Indonesia                            Travel and Tourism

In [60]:
df_train['Specialization']=df_train.groupby('Country')['Specialization'].transform(lambda x: x.fillna(x.mode()))

In [61]:
df_train.isnull().sum()

ID                                                  0
Country                                             0
Specialization                                   3379
How did you hear about Us                        7249
Current_Occupation                               2690
What matters most to you in choosing a course    2709
Origin                                              0
Source                                             36
Do Not Email                                        0
Do Not Call                                         0
TotalVisits                                       137
Total Time Spent on Website                         0
Page Views Per Visit                              137
Last Activity                                     103
Purchased                                           0
dtype: int64

In [62]:
df_train.drop(unwanted_columns,axis=1,inplace=True)

In [63]:
df_train.isnull().sum()

ID                                0
Specialization                 3379
Origin                            0
Do Not Email                      0
Do Not Call                       0
TotalVisits                     137
Total Time Spent on Website       0
Page Views Per Visit            137
Purchased                         0
dtype: int64

In [64]:
#as there are more rows with null we should imput them
df_train.Specialization.fillna('others',inplace=True)

In [65]:
df_train.TotalVisits.median()

3.0

In [66]:
df_train.TotalVisits.mode()

0    0.0
Name: TotalVisits, dtype: float64

In [67]:
df_train.TotalVisits.mean()

3.445237833681204

In [68]:
df_train.TotalVisits.value_counts()

0.0      2189
2.0      1680
3.0      1306
4.0      1120
5.0       783
6.0       466
1.0       395
7.0       309
8.0       224
9.0       164
10.0      114
11.0       86
13.0       48
12.0       45
14.0       36
16.0       21
15.0       18
17.0       16
18.0       15
20.0       12
19.0        9
21.0        6
23.0        6
24.0        5
25.0        5
27.0        5
22.0        3
29.0        2
28.0        2
26.0        2
141.0       1
55.0        1
30.0        1
43.0        1
74.0        1
41.0        1
54.0        1
115.0       1
251.0       1
32.0        1
42.0        1
Name: TotalVisits, dtype: int64

In [69]:
#imputing with median
df_train.TotalVisits.fillna(df_train.TotalVisits.median(),inplace=True)

In [70]:
df_train['Page Views Per Visit'].value_counts()

0.00    2189
2.00    1795
3.00    1196
4.00     896
1.00     651
        ...
3.43       1
2.56       1
6.33       1
1.64       1
2.08       1
Name: Page Views Per Visit, Length: 114, dtype: int64

In [71]:
df_train['Page Views Per Visit'].mean()

2.3628199494672084

In [72]:
df_train['Page Views Per Visit'].median()

2.0

In [73]:
df_train['Page Views Per Visit'].fillna(round(df_train['Page Views Per Visit'].mean(),2),inplace=True)

In [74]:
df_train.isnull().sum()

ID                             0
Specialization                 0
Origin                         0
Do Not Email                   0
Do Not Call                    0
TotalVisits                    0
Total Time Spent on Website    0
Page Views Per Visit           0
Purchased                      0
dtype: int64

In [82]:
df_train.drop('Page Views Per Visit',axis=1,inplace=True)

In [83]:
df_train.describe()

                ID  TotalVisits  Total Time Spent on Website
count  9240.000000  9240.000000                  9240.000000
mean   4620.500000     3.438636                   487.698268
std    2667.502577     4.819024                   548.021466
min       1.000000     0.000000                     0.000000
25%    2310.750000     1.000000                    12.000000
50%    4620.500000     3.000000                   248.000000
75%    6930.250000     5.000000                   936.000000
max    9240.000000   251.000000                  2272.000000

In [78]:
#making some ranges for better classification
df_train.loc[(df_train['TotalVisits'] >= 0) & (df_train['TotalVisits'] <=50), 'TotalVisits_range'] = '0-50'
df_train.loc[(df_train['TotalVisits'] > 51) & (df_train['TotalVisits'] <=100), 'TotalVisits_range'] = '51-100'
df_train.loc[(df_train['TotalVisits'] > 101) & (df_train['TotalVisits'] <=150), 'TotalVisits_range'] = '101-150'
df_train.loc[(df_train['TotalVisits'] > 151) & (df_train['TotalVisits'] <=200), 'TotalVisits_range'] = '151-200'
df_train.loc[(df_train['TotalVisits'] > 201) & (df_train['TotalVisits'] <=251), 'TotalVisits_range'] = '201-251'

In [84]:
df_train

,ID,Specialization,Origin,Do Not Email,Do Not Call,TotalVisits,Total Time Spent on Website,Purchased,TotalVisits_range
0,1,Business Administration,API,No,No,0.0,0,No,0-50
1,2,others,API,No,No,5.0,674,No,0-50
2,3,Business Administration,Landing Page Submission,No,No,2.0,1532,Yes,0-50
3,4,Media and Advertising,Landing Page Submission,No,No,1.0,305,No,0-50
4,5,others,Landing Page Submission,No,No,2.0,1428,Yes,0-50
...,...,...,...,...,...,...,...,...,...
9235,9236,IT Projects Management,Landing Page Submission,Yes,No,8.0,1845,Yes,0-50
9236,9237,Media and Advertising,Landing Page Submission,No,No,2.0,238,No,0-50
9237,9238,Business Administration,Landing Page Submission,Yes,No,2.0,199,No,0-50
9238,9239,Human Resource Management,Landing Page Submission,No,No,3.0,499,Yes,0-50
9239,9240,Supply Chain Management,Landing Page Submission,No,No,6.0,1279,Yes,0-50

In [85]:

df_train.loc[(df_train['Total Time Spent on Website'] >= 0) & (df_train['Total Time Spent on Website'] <=500), 'totaltimespent'] = '0-500'
df_train.loc[(df_train['Total Time Spent on Website'] > 501) & (df_train['Total Time Spent on Website'] <=1000), 'totaltimespent'] = '501-1000'
df_train.loc[(df_train['Total Time Spent on Website'] > 1001) & (df_train['Total Time Spent on Website'] <=1500), 'totaltimespent'] = '1001-1500'
df_train.loc[(df_train['Total Time Spent on Website'] > 1501) & (df_train['Total Time Spent on Website'] <=2000), 'totaltimespent'] = '1501-2000'
df_train.loc[(df_train['Total Time Spent on Website'] > 2001) & (df_train['Total Time Spent on Website'] <=2500), 'totaltimespent'] = '2001-2500'
df_train.loc[(df_train['Total Time Spent on Website'] > 2501) & (df_train['Total Time Spent on Website'] <=3000), 'totaltimespent'] = '2501-3000'

In [87]:
df_train.isnull().sum()

ID                             0
Specialization                 0
Origin                         0
Do Not Email                   0
Do Not Call                    0
TotalVisits                    0
Total Time Spent on Website    0
Purchased                      0
TotalVisits_range              0
totaltimespent                 6
dtype: int64

In [88]:
df_train

,ID,Specialization,Origin,Do Not Email,Do Not Call,TotalVisits,Total Time Spent on Website,Purchased,TotalVisits_range,totaltimespent
0,1,Business Administration,API,No,No,0.0,0,No,0-50,0-500
1,2,others,API,No,No,5.0,674,No,0-50,501-1000
2,3,Business Administration,Landing Page Submission,No,No,2.0,1532,Yes,0-50,1501-2000
3,4,Media and Advertising,Landing Page Submission,No,No,1.0,305,No,0-50,0-500
4,5,others,Landing Page Submission,No,No,2.0,1428,Yes,0-50,1001-1500
...,...,...,...,...,...,...,...,...,...,...
9235,9236,IT Projects Management,Landing Page Submission,Yes,No,8.0,1845,Yes,0-50,1501-2000
9236,9237,Media and Advertising,Landing Page Submission,No,No,2.0,238,No,0-50,0-500
9237,9238,Business Administration,Landing Page Submission,Yes,No,2.0,199,No,0-50,0-500
9238,9239,Human Resource Management,Landing Page Submission,No,No,3.0,499,Yes,0-50,0-500
9239,9240,Supply Chain Management,Landing Page Submission,No,No,6.0,1279,Yes,0-50,1001-1500

In [89]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [137]:
x=df_train.drop(['Purchased','ID','Total Time Spent on Website','TotalVisits'],axis=1)

In [138]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
y=le.fit_transform(df_train['Purchased'])

In [139]:
for i in x.columns:
    if x[i].dtypes=='object':
        x[i]=le.fit_transform(x[i])

In [140]:
x

,Specialization,Origin,Do Not Email,Do Not Call,TotalVisits_range,totaltimespent
0,1,0,0,0,0,0
1,18,0,0,0,0,4
2,1,1,0,0,0,2
3,11,1,0,0,0,0
4,18,1,0,0,0,1
...,...,...,...,...,...,...
9235,8,1,1,0,0,2
9236,11,1,0,0,0,0
9237,1,1,1,0,0,0
9238,7,1,0,0,0,0
9239,16,1,0,0,0,1

In [141]:

# using the train test split function
X_train, X_test, y_train, y_test = train_test_split(
  x_mm,y , random_state=104,test_size=0.25)

In [142]:
lr=LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression()

In [143]:
lr_pred=lr.predict(X_test)

In [144]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [145]:
accuracy_score(y_test,lr_pred)

0.7095238095238096

In [146]:
confusion_matrix(y_test,lr_pred)

array([[1250,  134],
       [ 537,  389]], dtype=int64)

In [230]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(max_depth=4,min_samples_split=10,criterion="gini")
dt.fit(X_train,y_train)
dpred=dt.predict(X_test)
accuracy_score(y_test,dpred)

0.7835497835497836

In [231]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(max_depth=4,n_estimators=50,criterion='gini')
rf.fit(X_train,y_train)
rpred=rf.predict(X_test)
accuracy_score(y_test,rpred)

0.7835497835497836

In [233]:
from xgboost import XGBClassifier
XG=XGBClassifier(n_estimators=4,max_leaves=0)
XG.fit(X_train,y_train)
xpred=XG.predict(X_test)
accuracy_score(y_test,xpred)

0.7826839826839826

In [234]:
from sklearn.svm import SVC
sv=SVC(C=15,degree=1)
sv.fit(X_train,y_train)
svpred=sv.predict(X_test)
accuracy_score(y_test,svpred)

0.780952380952381

In [235]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=50,p=2)
knn.fit(X_train,y_train)
kpred=knn.predict(X_test)
accuracy_score(y_test,kpred)

0.7701298701298701

In [237]:
from sklearn.ensemble import VotingClassifier
meta_model = VotingClassifier(
    estimators=[
        ('dt', dt),
        ('rf', rf),
        ('xg', XG),
        ('svc',sv),
        ('knn',knn)
    ],
    voting='hard'  # Use 'soft' for classifiers that can predict probabilities
)
meta_features = np.column_stack((dpred, rpred, xpred,svpred,kpred))
meta_model.fit(meta_features, y_test)
# Generate meta-features for the test set using the base models
meta_features_test = np.column_stack((
    dt.predict(X_test),
    rf.predict(X_test),
    XG.predict(X_test),
    sv.predict(X_test),
    knn.predict(X_test)
))

# Make predictions using the meta-model
stacked_predictions = meta_model.predict(meta_features_test)

In [238]:
accuracy_score(y_test,stacked_predictions)

0.7857142857142857

In [239]:
df_test.isnull().sum()

ID                                0
Purchased                         0
Do Not Email                      0
Do Not Call                       0
TotalVisits                     137
Total Time Spent on Website       0
Page Views Per Visit            137
Specialization                 3380
Origin                            0
dtype: int64

In [246]:
df_test.describe()

,ID,TotalVisits,Total Time Spent on Website,Page Views Per Visit
count,9240.000000,9103.000000,9240.000000,9103.000000
mean,4620.500000,3.445238,487.698268,2.362820
std,2667.502577,4.854853,548.021466,2.161418
min,1.000000,0.000000,0.000000,0.000000
25%,2310.750000,1.000000,12.000000,1.000000
50%,4620.500000,3.000000,248.000000,2.000000
75%,6930.250000,5.000000,936.000000,3.000000
max,9240.000000,251.000000,2272.000000,55.000000

In [240]:

df_test.loc[(df_test['TotalVisits'] >= 0) & (df_test['TotalVisits'] <=50), 'TotalVisits_range'] = '0-50'
df_test.loc[(df_test['TotalVisits'] > 51) & (df_test['TotalVisits'] <=100), 'TotalVisits_range'] = '51-100'
df_test.loc[(df_test['TotalVisits'] > 101) & (df_test['TotalVisits'] <=150), 'TotalVisits_range'] = '101-150'
df_test.loc[(df_test['TotalVisits'] > 151) & (df_test['TotalVisits'] <=200), 'TotalVisits_range'] = '151-200'
df_test.loc[(df_test['TotalVisits'] > 201) & (df_test['TotalVisits'] <=251), 'TotalVisits_range'] = '201-251'

In [241]:

df_test.loc[(df_test['Total Time Spent on Website'] >= 0) & (df_test['Total Time Spent on Website'] <=500), 'totaltimespent'] = '0-500'
df_test.loc[(df_test['Total Time Spent on Website'] > 501) & (df_test['Total Time Spent on Website'] <=1000), 'totaltimespent'] = '501-1000'
df_test.loc[(df_test['Total Time Spent on Website'] > 1001) & (df_test['Total Time Spent on Website'] <=1500), 'totaltimespent'] = '1001-1500'
df_test.loc[(df_test['Total Time Spent on Website'] > 1501) & (df_test['Total Time Spent on Website'] <=2000), 'totaltimespent'] = '1501-2000'
df_test.loc[(df_test['Total Time Spent on Website'] > 2001) & (df_test['Total Time Spent on Website'] <=2500), 'totaltimespent'] = '2001-2500'
df_test.loc[(df_test['Total Time Spent on Website'] > 2501) & (df_test['Total Time Spent on Website'] <=3000), 'totaltimespent'] = '2501-3000'

In [244]:
df_test.Specialization.fillna('others',inplace=True)

In [245]:
df_test.isnull().sum()

ID                               0
Purchased                        0
Do Not Email                     0
Do Not Call                      0
TotalVisits                    137
Total Time Spent on Website      0
Page Views Per Visit           137
Specialization                   0
Origin                           0
TotalVisits_range              137
totaltimespent                   6
dtype: int64

In [247]:
df_test.dropna(inplace=True)

In [252]:
test_x=df_test.drop(['ID','Total Time Spent on Website','TotalVisits','Page Views Per Visit','Purchased'],axis=1)

In [255]:
test_x=test_x[['Specialization','Origin','Do Not Email','Do Not Call','TotalVisits_range','totaltimespent']]

In [256]:
test_x

,Specialization,Origin,Do Not Email,Do Not Call,TotalVisits_range,totaltimespent
0,others,API,No,No,0-50,0-500
1,others,API,No,No,0-50,501-1000
2,Business Administration,Landing Page Submission,No,No,0-50,1501-2000
3,Media and Advertising,Landing Page Submission,No,No,0-50,0-500
4,others,Landing Page Submission,No,No,0-50,1001-1500
...,...,...,...,...,...,...
9235,IT Projects Management,Landing Page Submission,Yes,No,0-50,1501-2000
9236,Media and Advertising,Landing Page Submission,No,No,0-50,0-500
9237,Business Administration,Landing Page Submission,Yes,No,0-50,0-500
9238,Human Resource Management,Landing Page Submission,No,No,0-50,0-500
9239,Supply Chain Management,Landing Page Submission,No,No,0-50,1001-1500

In [262]:

test_y=le.fit_transform(df_test['Purchased'])

In [263]:
for i in test_x.columns:
    if test_x[i].dtypes=='object':
        test_x[i]=le.fit_transform(test_x[i])

In [264]:
test_x

,Specialization,Origin,Do Not Email,Do Not Call,TotalVisits_range,totaltimespent
0,18,0,0,0,0,0
1,18,0,0,0,0,4
2,1,1,0,0,0,2
3,11,1,0,0,0,0
4,18,1,0,0,0,1
...,...,...,...,...,...,...
9235,8,1,1,0,0,2
9236,11,1,0,0,0,0
9237,1,1,1,0,0,0
9238,7,1,0,0,0,0
9239,16,1,0,0,0,1

In [266]:
meta_features_test = np.column_stack((
    dt.predict(test_x),
    rf.predict(test_x),
    XG.predict(test_x),
    sv.predict(test_x),
    knn.predict(test_x)
))
test_prediction=meta_model.predict(meta_features_test)

C:\Users\Shubhayan\.conda\envs\new1\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but DecisionTreeClassifier was fitted without feature names
  warnings.warn(
C:\Users\Shubhayan\.conda\envs\new1\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(
C:\Users\Shubhayan\.conda\envs\new1\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(
C:\Users\Shubhayan\.conda\envs\new1\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

In [269]:
accuracy_score(test_y,test_prediction)

0.7214466307573926